[Unit]
Description=My Java driven simple service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=javaservice
Group=javaservice

Type=simple

WorkingDirectory=/home/ubuntu/registry
ExecStart=java -jar service-discovery.jar
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target